.infinite-scroll-wrapper {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: start;
	overflow: hidden;
	overscroll-behavior: none;
}

.infinite-scroll-container {
	display: flex;
	flex-direction: row;
	overscroll-behavior: contain;
	padding-block: 1rem;
	cursor: grab;
	transform-origin: center center;
}

.infinite-scroll-item {
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1rem;
	font-size: 1.25rem;
	font-weight: 600;
	text-align: center;
	border: 2px solid black;
	user-select: none;
	box-sizing: border-box;
	position: relative;
	height: 25vh;
	width: 25vh;
}
