/* Styles to be applied to all body */
body {
	text-align: center;
	font-family: "Ubuntu", sans-serif;
	background-color: hsla(0, 0%, 94%, 0.956);
	user-select: none;
}

/* Navigation Bar */
nav {
	z-index: 1000;
	width: 100%;
	position: fixed;
	top: 0;
	height: 3.5rem;
	backdrop-filter: blur(10px);
	transition: all 0.3s ease;
	background-color: #ffffffb3;
	box-shadow: inset 0px 0px 15px 5px transparent;
	display: flex;
	justify-content: space-between;
	border-bottom: 2px solid transparent;
	div {
		margin: 14px;
	}

	.logo {
		height: 30px;
		line-height: 30px;
		text-align: center;
		position: relative;
		top: -3px;
	}

	.logo img {
		height: 30px;
		margin: 0 6px;
	}
	.pages,
	.logo {
		color: black;
		text-decoration: none;
		margin: 0 10px;
		padding: 0 5px;
		font-size: 16px;
		font-weight: bold;
		border-radius: 5px;
		display: inline-block;
		transition: all 0.3s ease 0s;
	}
	.pages:hover {
		border-bottom: 3px solid rgb(86, 86, 86);
		transform: translateY(-3px);
	}
	.pages span {
		display: inline-block;
		transition: all 0.3s linear 0s;
	}
	.pages span:hover {
		color: rgb(86, 86, 86);
	}
}

/* Footer.js */
.footer {
	height: 35vh;
	width: 100%;
	background-color: #323941;
	color: honeydew;
	text-align: left;
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: space-evenly;
	.email {
		margin-top: -30px;
	}
	.links,
	a {
		color: honeydew;
		text-decoration: none;
		margin: 5px;
	}
	.sociolinks {
		display: flex;
		align-items: center;
		transition: all 0.3s ease;
		.links {
			margin-top: 2px;
			background-color: #222529;
			font-size: 22px;
			border-radius: 10px;
			height: 40px;
			width: 40px;
			line-height: 40px;
			text-align: center;
			transition: all 0.3s ease;
		}
		.links:hover {
			height: 44px;
			width: 44px;
			line-height: 44px;
			cursor: pointer;
			background-color: #45494f;
			box-shadow: 4px 4px 16px 2px rgba(24, 24, 24, 0.804);
			transform: translateY(-6px);
		}
	}
}
